<div class="dish" appClick (click)="onDishSelect()" (contextmenu)="onDblClick($event)">
  <img class="dish__img" [src]="item.picture" [alt]="item.name">
  <span class="dish__name" >{{ item.name }}</span>
  <span class="dish__price">{{ item.price }}</span>
</div>
