.header {
  width: 100%;
  height: 60px;
  background-color: blue;
  color: white;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__links {
    display: flex;
    height: 100%;

    &-item {
      margin-right: 20px;
      height: 100%;
      box-sizing: border-box;
      border-bottom: 3px solid transparent;
      color: white;
      display: flex;
      align-items: center;
      cursor: pointer;
      outline: none;

      &_active {
        border-bottom: 3px solid red;
      }
    }
  }
  .login{
    height: 50px;

    &__img{
      width: 50px;
      cursor: pointer;
      outline: none;
    }
  }
}
