<div class="content">
  <div class="menu">
    <app-dish *ngFor="let item of dishes"
    [item]="item" (selectEvent)="onSelect($event)"
     (dblEvent)="showDescription($event)"
     ></app-dish>
  </div>
  <app-orders [order]="order" *ngIf="isHaveOrder"
  (deleteEvent)="onDeleteItem($event)"
  ></app-orders>
</div>
<app-modal *ngIf="isShowModal" [dish]="modalData"
(closeEvent)="onModalClose()"
> </app-modal>
