<div class="wrapper">
  <div class="modal">
    <img [src]="dish.picture" [alt]="dish.name" class="modal__img">
    <span class="modal__description">
        {{dish.description}}
    </span>

    <div class="close" (click)="closeModal()">X</div>
  </div>
</div>
