.tvshow {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 15px;
  border: 1px solid gray;
  user-select: none;
  margin-bottom: 5px;

  &__info {
    &-start {
      font-weight: bold;
      padding-right: 10px;
    }
  }
  &_current{
    height: 70px;
  }

  &__current {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .progress {
      width: 90%;
      height: 5px;
      border: 1px solid green;

      &__line {
        height: 100%;
        width: 0;
        background-color: lightgreen;
      }
    }
  }
}
