<form novalidate [formGroup]="userForm" class="login">
  <h2 class="login__name">Авторизация</h2>
  <div class="login__item">
    <span class="item-name">
      Имя:
    </span>
    <input class="item-inp" formControlName="name" type="text" placeholder="Введите имя:">
  </div>
  <div class="login__item">
    <span class="item-name">
      Пароль:
    </span>
    <input class="item-inp" formControlName="password" type="password" placeholder="Введите пароль:">
  </div>
  <button class="submit" (click)="autorization()">Авторизация</button>

</form>
