<app-header></app-header>
<router-outlet></router-outlet>
<div class="loader" *ngIf="isLoading">
    <app-looping-rhombuses-spinner
    [animationDuration]="2500"
    [rhombusSize]="15"
    [color]="'#ff1d5e'"
  ></app-looping-rhombuses-spinner>

</div>
