.date{
  width: 100%;
  height: 50px;
  border: 1px solid lightblue;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 15px;

  font-weight: bold;
  cursor: pointer;
  user-select: none;

  &_active{
    background: lightcyan;
  }
}

