<div class="order">

  <h3>Заказ</h3>

  <div (click)="deleteItem(item)" class="order__item" *ngFor="let item of order">
    <span class="order__item-name"> {{ item.name }} </span>
    <span class="order__item-price">{{ item.price }} руб.</span>
  </div>
  <hr>
  <hr>

  <div class="order__item">Итого: <span class="summ">{{summ}} руб.</span></div>

</div>
