/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding: 0;
}
.loader{
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.4);
  z-index: 100;
  left: 0;
  top: 0;
}
